---
layout: default

# default color
color_main  : blue-grey
---

{% assign color_main  = page.color_main | default: layout.color_main %}

  <main role="main" 
        class="column is-full">

    <section class="main-wrapper {{ color_main }}">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header has-text-centered
                        {{ color_main }} lighten-5">
          <div class="main_title"> 
            <h1 class="title is-4"
                itemprop="name headline">
              {{ page.title | default: site.title }}</h1>
          </div>
        </section>

        <article class="blog-body has-text-centered"
                 itemprop="articleBody">
          {{ content }}
        </article>

      </div>
    </section>

  </main>
