---
layout      : page
title       : Archive by Month
---

{% assign postsByYear = site.posts |
          group_by_exp: "post", "post.date | date: '%Y'"  %}

{% for year in postsByYear %}
  <strong>{{ year.name }}</strong>

  {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%m'" | sort: 'name' | reverse %}

  {% for month in postsByMonth %}

    {% for post in month.items limit:1 %}
      <p>{{ post.date | date: '%b - %Y' }}</p>
    {% endfor %}

    <ul>
    {% for post in month.items %}
      <li>
        <span class="fa fa-calendar"></span>&nbsp;
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
    </ul>

  {% endfor %}
  <br/>
{% endfor %}
