---
layout      : page
title       : Archive by Year
---

{% assign postsByYear = site.posts |
          group_by_exp: "post", "post.date | date: '%Y'"  %}

{% for year in postsByYear %}
  <strong>{{ year.name }}</strong>

  <ul>
  {% for post in year.items %}
    <li>
      <span class="fa fa-calendar"></span>&nbsp;
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
{% endfor %}
