---
layout    : page
title     : All Categories
---

{% capture spaceless %}
  {% assign cat_array = "" | split: "|" %}
  {% for cat in site.categories %}
    {% assign cat_first = cat | first %}
    {% assign cat_array = cat_array | push: cat_first %}
  {% endfor %}
  
  {% assign cat_array = cat_array | sort %}
{% endcapture %}

  <ul>
  {% for item in (0..site.categories.size) %}{% unless forloop.last %}
    {% assign this_word = cat_array[item] | strip_newlines %}
    <li>
      <span class="fa fa-folder"></span> 
      &nbsp; {{ this_word }}
    </li>
  {% endunless %}{% endfor %}
  </ul>
