---
layout    : page
title     : All Tags
---

{% capture spaceless %}
  {% assign tag_array = "" | split: "|" %}
  {% for tag in site.tags %}
    {% assign tag_first = tag | first %}
    {% assign tag_array = tag_array | push: tag_first %}
  {% endfor %}
  
  {% assign tag_array = tag_array | sort %}
{% endcapture %}

  <ul>
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% assign this_word = tag_array[item] | strip_newlines %}
    <li>
      <span class="fa fa-tag"></span> 
      &nbsp; {{ this_word }}
    </li>
  {% endunless %}{% endfor %}
  </ul>
