{% assign color = "light-blue" %}

{% capture widget_header %}
  <strong>Tags</strong>
  <span class="fa fa-tag is-pulled-right"></span>
{% endcapture %}

{% capture widget_body %}
  {% for tag in site.tags %}
    <a class="tag is-small is-light
              {{ color }} z-depth-1 hoverable p-b-5"
       href="{{ site.baseurl }}/pages/tag#{{ tag[0] | slugify }}">
      <span class="fa fa-tag"></span>&nbsp;{{ tag[0] }}
    </a>&nbsp;
  {% endfor %} 
{% endcapture %}

{% include template/widget.html %}
