{% assign color_main  = page.color_main  | default: layout.color_main %}

{% assign postsByYear = site.posts |
          group_by_exp: "post", "post.date | date: '%Y'"  %}

<div id="archive">
{% for year in postsByYear %}

  {% capture spaceless %}
    {% assign current_year = 'now' | date: '%Y' %}
    {% assign year_text = nil %}

    {% if year.name == current_year %}
      {% assign year_text = year.name | prepend: "This year's posts (" | append: ')' %}
    {% else %}
      {% assign year_text = year.name %}
    {% endif %}
  {% endcapture %} 

  <section>

    <div class="widget white z-depth-1 hoverable m-b-10">
      <div class="widget-header {{ color_main }} lighten-4">

        <div class ="anchor-target archive-year" 
             id="{{ year.name }}">{{ year_text }}</div>

      </div>
      <div class="widget-body">

        <div class="archive-list p-y-5">
          {% for post in year.items %}
          <div class="archive-item">
            <div class="is-pulled-left">
              <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a></div>
            <div class="is-pulled-right has-text-right">
            <time>
                {{ post.date | date:"%d %b" }}&nbsp;
                <span class="fa fa-calendar"></span>
            </time></div>
            <div class="is-clearfix"></div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>

  </section>

{% endfor %}
</div>
