---
layout: default
---

  <main role="main" 
        class="column is-two-thirds">
    <article class="blog-post box">
      <h4 class="title is-4"
        >{{ page.title | default: site.title }}</h4>
      {{ content }}
    </article>
  </main>

  <aside class="column is-one-thirds">
    <div class="box">
      This is a page kind layout.
    </div>
  </aside>
