---
layout: default
---

  <h2>{{ page.title | default: site.title }}</h2>
  <strong>This is a page kind layout.</strong>
  <br/>

  {{ content }}

  <blockquote>Any question? <b>Good Luck</b>.</blockquote>
