
  {% assign color_main  = page.color_main  | default: layout.color_main %}

  <div class="post-list">
  {% for post in posts %}
    <div class="archive p-b-10">
    <div class="meta-item p-10 hoverable">

      <strong><a class="meta_link {{ color_main }}-text text-darken-3" 
        href="{{ post.url | prepend: site.baseurl }}"
        >{{ post.title }}
      </strong></a>

      <div class="meta">
        <div class="meta_time is-pulled-left">
          <i class="fa fa-calendar"></i>
          <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%b %-d, %Y" }}</time>
        </div>      
        <div class="meta_tags is-pulled-right">
          {% for tag in post.tags %}
            <a class="tag is-small is-dark {{ color_main }} z-depth-1 hoverable"
               href="{{ site.baseurl }}/pages/tag#{{ tag | slugify }}"
              >{{ tag }}&nbsp;<span class="fa fa-folder"></span>
            </a>&nbsp;
          {% endfor %}
        </div>
      </div> 

      <div class="is-clearfix"></div>

      <div>{{ post.excerpt }}</div>

      <div class="read-more is-light">
        <a href="{{ post.url | prepend: site.baseurl }}" 
           class="button is-dark is-small {{ color_main }} z-depth-1 hoverable"
          >Read More&nbsp;</a>
      </div>

    </div></div>
  {% endfor %}
  </div>

