

  <section class="p-y-5" id="archive">
  {% for item in (0..terms.size) %}{% unless forloop.last %}
    {% assign this_word = term_array[item] | strip_newlines %}
      <div id="{{ this_word | slugify }}" class ="anchor-target">
        <span class="{{ page.term_icon }}"></span> 
        &nbsp; {{ this_word }}
      </div>

      <div class="archive-list p-y-5">
      {% assign line = 0 %}  
      {% for post in terms[this_word] %}
        {% if post.title != null %}
        <div class="archive-item meta-item">
          <div class="meta_link has-text-right">
            <time class="meta_time is-pulled-right"
                  datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date: "%b %-d, %Y" }}&nbsp;
              &nbsp;<span class="fa fa-calendar"></span></time></div>
          <div class="is-pulled-left">
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a></div>
          <div class="is-clearfix"></div>
        </div>
        {% endif %}
      {% endfor %}
      </div>

  {% endunless %}{% endfor %}
  </section>
