{% capture spaceless %}
  {% assign total_pages = paginator.total_pages %}
  {% assign color_main  = page.color_main  | default: layout.color_main %}
{% endcapture %}

<nav class="pagination is-small is-centered" 
     role="navigation" aria-label="pagination">
  {% if total_pages > 1 %}

    {% capture spaceless %}
      <!-- Get paginate_root from page in frontmatter -->
      {% assign paginate_root = page.paginate_root %}
      {% assign p_first = paginate_root
                        | prepend: site.baseurl %}
      {% assign page_current = paginator.page %}
    {% endcapture %}

    <!-- First Page. -->
    {% unless paginator.page == 1 %}
      <a class="pagination-previous hoverable"
         href="{{ p_first }}"
         rel="first">First</a>
    {% else %}
      <a class="pagination-previous"
         title="This is the first page"
         disabled>First</a>
    {% endunless %}

    <!-- Previous Page. -->
    {% if paginator.previous_page %}
      {% assign p_prev = paginator.previous_page_path
                       | prepend: site.baseurl %}
      <a class="pagination-previous hoverable"
         href="{{ p_prev }}" 
         rel="prev">Previous</a>
    {% else %}
      <a class="pagination-previous"
         title="This is the first page"
         disabled>Previous</a>
    {% endif %}

    <!-- Next Page. -->
    {% if paginator.next_page %}
      {% assign p_next = paginator.next_page_path
                       | prepend: site.baseurl %}
      <a class="pagination-next hoverable"
         href="{{ p_next }}"
         rel="next">Next</a>
    {% else %}
      <a class="pagination-next"
         title="This is the last page"
         disabled>Next</a>
    {% endif %}

    <!-- Last Page. -->
    {% unless paginator.page == total_pages %}
      {% assign p_last = site.paginate_path
                       | relative_url
                       | replace: ':num', total_pages
                       | prepend: site.baseurl %}
      <a class="pagination-next hoverable"
         href="{{ p_last }}"
         rel="last">Last</a>
    {% else %}
      <a class="pagination-next"
         title="This is the last page"
         disabled>Last</a>
    {% endunless %}

    <ul class="pagination-list">
    <!-- Page numbers. -->
    {% for page in (1..total_pages) %}
      <li>
      {% if page == page_current %}
        <a class="pagination-link is-current {{ color_main }}" 
           aria-label="Page {{ page }}">
          {{ page }}
        </a>
      {% else %}

        {% if page == 1 %}
          {% assign p_link = p_first %}
        {% else %}
          {% assign p_link = site.paginate_path
                           | relative_url
                           | replace: ':num', page 
                           | prepend: site.baseurl %}
        {% endif %}

        <a class="pagination-link hoverable"
           href="{{ p_link }}"
           aria-label="Goto page {{ page }}">
          {{ page }}
        </a>
       {% endif %}
      </li>
    {% endfor %}
    </ul>

  {% endif %}
</nav>

