// -- -- -- -- --
// _list.scss

ul.widget-list li:hover
  background: map-get($yellow, 'lighten-2')

ul.widget-list
  padding: 0px

ul.widget-list
  padding-left: 0
  list-style: none
  font-size: 13px
  margin-left: 20px

ul.widget-list li:before
  font-family: "Font Awesome 5 Free"
  font-weight: 900
  content: "\f054"
  color: map-get($grey, 'base')
  margin: 0 5px 0 -12px

ul.widget-list li:hover:before
  color: map-get($yellow, 'base')

// -- -- -- -- --
// Components: Tags

.archive-year
  font-weight: bold

// -- -- -- -- --
// Flip Flop

div.archive-list
  padding-left: 10px
  padding-right: 10px

.archive-list
  .archive-item:nth-child(even)
    background-color: map-get($grey, "lighten-5")
  .archive-item:nth-child(odd)
    background-color: map-get($grey, "lighten-4")
  .archive-item:hover
    background-color: map-get($yellow, "lighten-2")

.meta-item:nth-child(even)
    background-color: map-get($grey, "lighten-5")

.meta-item:nth-child(odd)
    background-color: map-get($grey, "lighten-4")

.meta-item:hover
    background-color: map-get($yellow, "lighten-2")
